*{
    background-color: rgb(223, 39, 39);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.your_massages{
    color: aquamarine;
    margin-left: 20%;
}

#message_area button{
    background-color: aquamarine;
}
